selenium-webdriver-cucumber/log/*.xml
selenium-webdriver-cucumber/log/*.log
selenium-webdriver-cucumber/log/*.html
selenium-webdriver-python-unittest/reports/*.html
selenium-webdriver-python-unittest/reports/*.xml
.DS_Store
selenium-webdriver-gauge/logs/
selenium-webdriver-gauge/reports/
selenium-webdriver-python-unittest/.cache/
selenium-webdriver-python-unittest/test/.cache/
selenium-webdriver-python-unittest/test/__pycache__/
capybara-rspec/spec/reports/
selenium-webdriver-nodejs-mocha/reports/
selenium-webdriver-python-unittest/.pytest_cache/
watir-rspec/spec/reports/
.pytest_cache/
spec/reports/
test-results.xml
selenium-webdriver-rspec/agiletravel-selenium-webdriver.tws
selenium-webdriver-junit/.idea/
selenium-webdriver-junit/lib/
selenium-webdriver-junit/out/
selenium-webdriver-junit/selenium-webdriver-junit.iml
selenium-webdriver-python-unittest/pages/__pycache__/
selenium-webdriver-python-unittest/test/debugging_test.py
selenium-webdriver-cucumber/agiletravel-selenium-webdriver.tws
selenium-webdriver-nodejs-mocha/agiletravel-selenium-webdriver.tws
selenium-webdriver-python-unittest/agiletravel-selenium-webdriver.tws
selenium-webdriver-rspec/spec/debugging_spec.rb
